body{
    background-color: black;
}

h2, p{
    text-align: center;
}

@media (min-width: 1200px){
    #loginConstainer{
        border-radius: 1rem;
        max-width: 500px;
        
    }
}

section{
    box-shadow: -7px 10px 14px 2px #0000001f;
}

form{
    text-align: center;
}

.footer-position {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 footer{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.gradient{
    /* Created with https://www.css-gradient.com */
    background: #9C6CF3;
    background: -webkit-linear-gradient(top, #9C6CF3, #1656F7);
    background: -moz-linear-gradient(top, #9C6CF3, #1656F7);
    background: linear-gradient(to bottom, #9C6CF3, #1656F7);
}